@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@200;400;600 & display=swap');

.card-body{
    background-image: linear-gradient(to bottom, #aaf0ff, #a3e4ff, #a8d6ff, #b6c7fe, #c8b6f0, #d4b5ea, #deb5e4, #e6b6de, #ecc7e7, #f2d7ef, #f8e8f7, #fff8ff);
    text-align: center;
    letter-spacing: 2px;
}

* {margin: 0;padding: 0;box-sizing: border-box;}

body{
    font-family: 'Montserrat'; padding: 90px 20px 0;}

 h1{font-size: 40px; padding: 10px; font-weight: bold;}

h2{ font-size: 30px; padding: 10px; font-weight: bolder;} 

 h3{ font-size: 20px; font-weight: bolder;padding: 10px;} 

.navbar-toggler{ border: none;}

.navbar{ display: flex; justify-content: space-between; font-size: 18px;}

a{ padding: 8px 12px; border-radius: 4px; transition: 0.5s;}

a:hover{background-color:  #aaf0ff;}

.card{ margin: 20px 0; margin-top: 60px;}

.card-img-top{margin: 10px;}

.card-text{font-size: 18px; font-weight: lighter;}

.rounded{padding: 10px; }

.reel { padding-bottom: 25px; margin-top: 20px;}

.articulos{
    flex-wrap: wrap; display: flex;}

.article{flex: 1 1 20%;font-size: 13px; letter-spacing: 2px; padding: 20px; margin-top: 10px; text-align: center;}

.titulos{font-size: 18px; font-weight: bolder;}

.tituloTres{font-size: 15px; font-weight: bolder;}

p{font-size: 12px; font-weight: bolder; text-align: center; margin-top: 5px; padding: 10px;}

.form-label, .form-control{
 border-radius: 10px;
 border-color: #a3e4ff;
 
}
.btn-enviar, .btn-resetear{
    border-color: #a3e4ff;
background-color:  #aaf0ff;
  border-radius: 5px;
   font-size: 16px;
   cursor: pointer;
}
.btn-resetear:hover{
    transition: 0.5s;
    opacity: 0.5;
}
.btn-enviar:hover{
    transition: 0.5s;
    opacity: 0.5;
}
/* media querys */
@media screen and (max-width:768px){ 
    h1{font-size: 30px;}
   
    .footer {grid-area: footer; flex-direction: column;}

    .fondo { max-width: 300px;padding-top: 20px;padding-bottom: 20px; padding: auto;margin: auto;flex-direction: column-reverse;justify-content: center;}

    .logo {
        width: 100%;
        max-width: 200px;
        padding: auto;
        margin: auto;
    }
    .card-body{
        padding:auto auto;
        margin: auto;
        text-align: center;
        letter-spacing: 2px;
    }
    /* menu */
    .nav {
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        align-items: center;
        height: 100%;
        overflow: auto;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
    }
    .reel {width:100%; max-width: 800%; justify-content: center;}

}



